<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href ="../static/style.css"> 
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navigation">
        <nav>
            <ul>
                <li><a href="./dashboard.html">Home</a></li>
                <li><a href="./python.html">Python-Facts</a></li>
                <li><a href="./java.html">Java-Facts</a></li>
                <li><a href="./c.html">C Programming Facts</a></li>
                <li><a href="https://givemefive.ai/projects/nextcreator/aniket_subramanian/" target="_ublank">My Creations</a></li>
            </ul>
        </nav>
    </div>
    <div class="learningC">
    <h1>History of C coding</h1>
    <img src="">
    <p> &nbsp;  &nbsp; The C programming language was devised in the early 1970s as a system implementation language for the nascent Unix operating system. Derived from the typeless language BCPL, it evolved a type structure; created on a tiny machine as a tool to improve a meager programming environment.</p>
    <p> &nbsp;Originally, Ken Thompson, a Bell Labs employee, desired to make a programming language for the new Unix platform. Thompson modified the BCPL system language and created B. However, not many utilities were ever written in B due to its slow nature and inability to take advantage of PDP-11 features in the operating system. This led to Ritchie improving on B, and thus creating C.</p>
    <a href="https://www.section.io/engineering-education/history-of-c-programming-language/"> Source</a>
</div>
<br><br><br>
<div class="logo">
    <img src="../static/c.png">
</div>
<br><br><br>
<div class="learningC">
<p>  With C, you can do the following:
</p>

<ul>
    <li> Operate systems</li>
    <li> GUI</li>
    <li> Create equations</li>
    And much much more!
</ul>
</div>
</body>
</html>