<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navigation">
        <nav>
            <ul>
                <li><a href="./dashboard.html">Home</a></li>
                <li><a href="./python.html">Python-Facts</a></li>
                <li><a href="./java.html">Java-Facts</a></li>
                <li><a href="./c.html">C Programming Facts</a></li>
                <li><a href="https://givemefive.ai/projects/nextcreator/aniket_subramanian/" target="_ublank">My Creations</a></li>
            </ul>
        </nav>
    </div>

    <div class="container">
    
        <div class= "programming python">
            <a href ="python.html" class="python1">
                <img src="../static/guido.jpg" alt="">
            <div class="title">
                <h1>Guido van Rossum</h1>
                <p>Founder of Python</p>
                <p>Guido van Rossum is a Dutch programmer best known as the creator of the Python programming language, for which he was the "benevolent dictator for life" until he stepped down from the position in July 2018.</p>
            </div>  
            </a>
        </div>
        
        <div class="programming java">
            <a href="java.html" class="java1">
                <img src="../static/java_founder.jpg" alt="">
                <div class="title">
                    <h1>James Gosling</h1>
                    <p>Founder of Java</p>
                    <p>James Arthur Gosling, often referred to as "Dr. Java," OC is a Canadian computer scientist, best known as the founder and lead designer behind the Java programming language.</p>
                </div>
            </a>
        </div>    
    
        <div class="programming c">
            <a href="c.html">
                <img src="../static/founder_c.jpg" alt="">
                <div class="title">
                    <h1>Dennis Ritchie</h1>
                    <p>Founder of C Programming</p>
                    <p>Dennis MacAlistair Ritchie was an American computer scientist. He created the C programming language and, with long-time colleague Ken Thompson, the Unix operating system and B programming language.</p>
                </div>  
            </a>
        </div>
   
    </div>
</body>
</html>
