<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href ="../static/style.css"> 
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="navigation">
    <nav>
        <ul>
            <li><a href="./dashboard.html">Home</a></li>
            <li><a href="./python.html">Python-Facts</a></li>
            <li><a href="./java.html">Java-Facts</a></li>
            <li><a href="./c.html">C Programming Facts</a></li>
            <li><a href="https://givemefive.ai/projects/nextcreator/aniket_subramanian/" target="_ublank">My Creations</a></li>
        </ul>
    </nav>
</div>
<p>
    <div class="learningPython" class="coding">
    <h1>History of python</h1>
    <img src="">
    <p> &nbsp;  &nbsp; Python is a widely used general-purpose, high-level programming language. It was initially designed by Guido van Rossum in 1991 and developed by Python Software Foundation. It was mainly developed for emphasis on code readability, and its syntax allows programmers to express concepts in fewer lines of code.</p>
    <p> &nbsp;In the late 1980s, history was about to be written. It was that time when working on Python started. Soon after that, Guido Van Rossum began doing its application based work in December of 1989 by at Centrum Wiskunde & Informatica (CWI) which is situated in Netherland.</p>
    <a href="https://www.geeksforgeeks.org/history-of-python/"> Source</a>
</div>
</p>
<br><br><br>
<div class="logo">
    <img src="../static/python.png">
</div>
<br><br><br>

<div class="learningPython">
<p>  With python, you can do so many cool things and programs, some being:
</p>

<ul>
    <li> Make drawings</li>
    <li> Interact with the computer</li>
    <li> Create equations</li>
    And much much more!
</ul>
</div>
</body>
</html>